:root{
    --accent-color:#2196F3 ;
    --main-color:#212121 ;
    --background-color:#2F303A ;
    --second-color: #757575;
    --section-color:#F5F4FA ;
    --logo-color:rgba(255, 255, 255, 0.60);
    --main-background-color:rgba(33, 33, 33, 1);

}

.active{
    color:var(--accent-color);
}